@model TutorialASPNETCore.ViewModels.HomeDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layour.cshtml";
    ViewBag.Title= "Lista de empleados";
}
<h3>@Model.PageTitle</h3>
<div>
    Name: @Model.employee.name
</div>
<div>
    Email:@Model.employee.email
</div>
@section scripts{ 
    <script src="~/js/archivito.js"></script>
}
