@model HomeDetailsViewModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var photopath = "~/Images/" + (Model.employee.photoPath ?? "noimage.png");
    ViewBag.Title= "Lista de empleados";
    Layout= "~/Views/Shared/_Layout.cshtml";
}
<h3>@Model.PageTitle</h3>
<img class="card-img-top" src="@photopath" asp-append-version="true"/>
<div>
    Name: @Model.employee.name
</div>
<div>
    Email:@Model.employee.email
</div>

@section scripts{ 
    <script src="~/js/archivito.js"></script>
}
