@model IEnumerable<Employee>
@{
    Layout= "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title= "Lista de empleados";
}
<div class="card-deck">
    @foreach (var item in Model)
   {
     <div class="card m-3">
         <div class="card-header">
             <h3>@item.name</h3>
         </div>
          <img class="card-img-top" src="~/images/noimage.png"/>  
          <div class="card-footer text-center">
              <a asp-controller="home" asp-action="details" asp-route-id="@item.id" class="btn btn-primary">Display</a>
              <a href="#" class="btn btn-primary">Edit</a>
              <a href="#" class="btn btn-primary">Delete</a>
          </div>
     </div>  
   }
</div>